<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="../Css/footer.css">
    </head>
    <body>
        <footer>
            <h2>Saikoro Ryu Workshop, 2026</h2>
            <div class="contactos">
        
                <img src="https://static.vecteezy.com/system/resources/previews/018/930/415/non_2x/instagram-logo-instagram-icon-transparent-free-png.png" alt="">
                <h3>saikoro.ryu</h3>
            </div>
            <div class="contactos">
                <img src="../images/whatsapp icon.png" alt="">
                <h3>11 5625-2252</h3>
            
            </div >


        </footer>
    </body>
</html>