<link rel="stylesheet" href="../css/style.css">
<header class="navbar">     
    <nav calss="nav">
        <h1 class="titulo1">S</h1>
        <h1 class="titulo2">aikoro</h1>
        <h1 class="titulo3">R</h1>
        <h1 class="titulo4">yu</h1>
        <h1 class="titulo5">W</h1>
        <h1 class="titulo6">orkshop</h1>
        <img src="../images/logo.png" att="logo" class="logo"></img>
        <a href="index.html">Inicio</a>
        <a href="index.html">Dados</a>
        <a href="index.html">Impresiones</a>
    </nav>
</header>